[submodule "app/src/main/cpp/Dobby"]
	path = app/src/main/cpp/Dobby
	url = https://github.com/LSPosed/Dobby.git
[submodule "app/src/main/cpp/KittyMemory"]
	path = app/src/main/cpp/KittyMemory
	url = https://github.com/MJx0/KittyMemory.git
[submodule "app/src/main/cpp/BNM-Android"]
	path = app/src/main/cpp/BNM-Android
	url = https://github.com/Livku2/BNM-Android
